.home{
    min-height:900px;
    margin-bottom:10px;
    min-width:1200px;
    .homeTop {
        background: #fff;
        max-width: 1200px;
        position: relative;
        height: 400px;
        .categoryContent {
            z-index: 50;
            position: absolute;
            ul {
                height: 400px;
                width: 150px;
                padding: 10px 0 0 0;
                margin-top:0;
                background: rgba(0, 0, 0, 0.2);
                li {
                    width: 100%;
                    height: 40px;
                    line-height: 40px;
                    text-indent: 20px;
                    color: white;
                    font-size:16px;
                    a{
                    display:block;
                    }
                    span{
                        color:#ccc
                    }
                    &:hover {
                        background:rgba(0,0,0,0.2);
                        cursor: pointer;
                        &>a{
                            color:#1E90FF;
                        }
                        .categoryDetails{
                            display:block;
                        }
                        span{
                        transform:rotate(90deg);
                        text-indent:0;
                        }
                    }
                    a{
                        color:white;
                    }
                    span {
                        float:right;
                        margin:12px;
                    }
                    .categoryDetails{
                        position:absolute;
                        left:150px;
                        top:0;
                        height:400px;
                        background:rgba(0,0,0,0.2);
                        color:black;
                        display:none;
                        ul{
                            padding:0;
                            width:300px;
                            li{
                                float:left;
                                width:150px;
                                a{
                                text-indent:0;
                                display:block;
                                text-align:center;
                                }
                                &:hover a{
                                    color:#1E90FF
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .homeContent{
       &>div{
        background:#fff;
        margin-top:10px;
        height:200px;
        box-shadow:2px 2px 4px 1px #e5e5e5;
        div:first-of-type{
            height:35px;
            line-height:35px;
            background:#f0f8ff;
            text-indent:10px;
        }
        ul{
            li{
                float:left;
                width:120px;
                img{
                    border:2px solid #ccc;
                    border-radius:50px;
                }
            }
        }
       }
    }
}