.messageContent{
	div{
		height:130px;
		padding:10px 0;
		border-bottom:1px solid #ccc;
		&>img{
			border-radius:75px;
			border:5px solid #efefef;
			float:left
		}
		&>span{
			float:right;
			a{
				height:31px;
				line-height:25px;
				padding:3px;
				border-radius:2px;
				border:1px solid #ff7f00;
				color:#ff7f00;
				margin-left:5px;
			}
			i{
				font-size:12px;
			}
		}
		ul{
			float:left;
			margin:5px;
			li:first-of-type{
				margin-bottom:5px;
				b{
					color:#ff7f00
				}
				span:nth-of-type(2){
					font-size:12px;
					margin:0 15px 0 5px;
				}
			}
			li:nth-of-type(2){
				color:#666;
				img{
					height:90px;
				}
			}
		}
	}
}