.messageContent{
	padding-top:20px;
	div{
		height:140px;
		padding:15px 0;
		border-bottom:1px dashed #e5e5e5;
		a{
		 	color:#37a;
		 	padding:3px;
		 	&:hover{
		 		background:#efefef
		 	}
		 }
		&>img{
			border-radius:75px;
			border:5px solid #efefef;
			float:left
		}
		&>span{
			float:right;
			a{
				height:31px;
				line-height:25px;
				padding:3px;
				border-radius:2px;
				border:1px solid #ff7f00;
				color:#ff7f00;
				margin-left:5px;
			}
			i{
				font-size:12px;
			}
		}
		ul{
			float:left;
			margin:5px;
			li:first-of-type{
				margin-bottom:5px;
				b{
					color:#ff7f00
				}
				span:first-of-type{
					font-size:120%
				}
				span:nth-of-type(2),span:nth-of-type(3){
					font-size:13px;
					margin:0 15px 0 5px;
				}
			}
			li:nth-of-type(2){
				color:#444;
				background:#efefef;
				border-radius:5px;
				padding:3px 5px;
				 word-wrap: break-word;
				 max-width:400px;
				img{
					height:80px;
				}
			}
		}
	}
}