
.modal {
	position: absolute;
    width:100%;
    background:rgba(0,0,0,0.4);
    z-index: 100;
    top:0;
    display:block;
    left:0;
    .content {
        width:500px;
        position: absolute;
        background:#fff;
    	.content-header{
            height:60px;
    		line-height:60px;
    		border-bottom:1px solid #efefef;
            text-align:center;
            position:relative;
    		.close{
                position:absolute;
                top:0px;
                left:460px; 
                width:30px;
                margin:5px;
			    height:30px;
			    border-radius: 15px;
			    background:white;
			    float:right;
			    text-align: center;
			    line-height:30px;
			    font-size: 120%;
			    font-weight: bold;
			    cursor: pointer;
			    color:#1C86EE
    		}
            h2{
                 margin:0;                                                    
            }
    		.close:hover{
    			background:#ccc
    		}
    	}
        .content-body{
                table{
                    width:400px;
                    height:250px;
                    margin:0 auto;
                    background-position:center;
                    background-size:cover;
                    border:none;
                    td{
                        background:rgba(255,255,255,0.4);
                        width:400px;
                        height:75px;
                        border:none;
                    }
                    tr:nth-of-type(2){
                        td{
                            padding:0;
                            height:100px;
                        }
                        td div{
                            width:150px;
                            height:100px;
                            margin:0;
                        }
                        td:nth-of-type(2){
                            background:none;
                            div{
                                cursor:move;
                                background:none;
                                width:100px;
                                position:relative;
                                div{
                                    position:absolute;
                                    top:90px;
                                    left:90px;
                                    width:10px;
                                    height:10px;
                                    background:green;
                                    cursor:nw-resize;
                                }
                            };
                        }
                    }
                }
        }
        .content-footer{
            border-top:1px solid #efefef;
            padding:20px;
            text-align:center;
            background:#efefef;
            button{
                width:100%;
            }
        }
    }
}
