.basicInfo{
		padding:20px 0;
		a{
		 	color:#37a;
		 	padding:3px;
		 	&:hover{
		 		background:#efefef
		 	}
		 }
		&>div{
			background:#f0f8ff;
			margin-bottom:50px;
			&>div{
				position:relative;
				width:110px;
				height:110px;
				margin:0 auto;
				border-radius:55px;
				overflow:hidden;
				img{
					border-radius:55px;
					margin:0 auto;
					border:5px solid #ccc;
				}
				a{
					width:110px;
					height:110px;
					line-height:110px;
					margin:0px auto;
					display:block;
					text-align:center;
					filter:alpha(opacity=0);
					opacity:0;
					font-size:150%;
					color:white;
					position:absolute;
					top:0;
					left:0;
					input{
						width:110px;
						height:110px;
						border-radius:50px
					}
					&:hover{
						filter:alpha(opacity=0.3);
						opacity:50;
						background:rgba(0,0,0,0.6);
					}
				}
			}

		}
		ul{
			width:100%;
			padding:0;
			&>li{
				text-align:center;
				position:relative;
				margin:50px 0;
				h3{
					margin-bottom:30px;
					text-align:center;
					height:20px;
					color:#444;
					hr{
						border:1px solid #efefef;
					}
					span{
						position:relative;
						top:-30px;
						width:120px;
						padding:5px;
						height:40px;
						line-height:30px;
						display:block;
						background:#fff;
						margin:0 auto;
						background:#efefef;
						border-radius:20px;
					}
				}
				p{
					color:#666;
					input{
						width:150px;
					}
					button{
						margin:0 5px;
					}
				}
				.btn-normal{
    				border-radius:5px;
    				padding:0 10px;
    				width:70px;
    				top:-7px;
    				position:absolute;
    				left:calc(100% - 65px);
    				background:#fff;
				}
				ul{
					li{
						clear:both;
						text-align:left;
						padding-left:30px;
						padding-right:30px;
						margin-top:30px;
						margin-bottom:0;
						textarea{
							width:100%;
						}
						button{
							float:right;
							margin:5px;
						}
						span:first-of-type{
							color:#666;
						}
						p:first-of-type{
							width:50%;
							position:relative;
							top:50px;
						}
						.imgShow{
							height:110px;
							margin-top:20px;
							div{
								width:100px;
								overflow:hidden;
								height:100px;
								margin-right:10px;
								float:left;
								border:2px solid #efefef;
								border-radius:5px;
								background-position:center;
								background-repeat:no-repeat;
								background-size:cover;
								cursor:pointer
							}
						}
						.imgList{
							width:100px;
							overflow:hidden;
							height:100px;
							margin-right:10px;
							float:left;
							border:2px solid #efefef;
							border-radius:5px;
							background-position:center;
							background-repeat:no-repeat;
							background-size:cover;
							margin-bottom:20px;
							div{
								width:100px;
								height:100px;
								text-align:center;
								line-height:100px;
								cursor:pointer;
								background:rgba(0,0,0,0.3);
								filter:alpha(opacity=0);
								font-size:200%;
								color:white;
								opacity:0;
								margin:0
							}
							img{
								min-height:100px;
								min-width:100px
							}
						}
						.addDiv{
							width:100px;
							float:left;
							height:100px;
							color:#666;
							position:relative;
							line-height:100px;
							font-size:200%;
							text-align:center;
							border:1px dashed #ccc;
							margin-bottom:20px;
							input[type="file"]{
								width:100px;
								height:100px;
							}
							&:hover{
								border:1px solid #ff7f00;
								color:#ff7f00
							}
						}
					}
					li:first-of-type{
						padding-left:0px;
						background:#efefef;
						height:35px;
						line-height:35px;
						border-left:2px solid #ff7f00;
						text-indent:10px;
						padding-right:0px;
						position:relative;
						b{
							font-size:110%;
							color:#444;
						}
						a{
							height:35px;
							line-height:35px;
							float:right;
    						width:60px;
    						text-align:center;
    						text-indent:0;
						}
					}
					.editLi{
						margin-top:0;
					}
				}
			}
				.addSpeciality{
					width:600px;
					margin:0 auto;
					.works{
						height:30px;
						line-height:30px;
						background:#ccc;
						text-align:center;
						margin-bottom:10px;
					}
					.imgList{
						width:100px;
						overflow:hidden;
						height:100px;
						margin-right:10px;
						float:left;
						border:2px solid #efefef;
						border-radius:5px;
						background-position:center;
						background-repeat:no-repeat;
						background-size:cover;
						div{
							width:100px;
							height:100px;
							text-align:center;
							line-height:100px;
							cursor:pointer;
							background:rgba(0,0,0,0.3);
							filter:alpha(opacity=0);
							font-size:200%;
							color:white;
							opacity:0;
							margin:0
						}
					}
					.addDiv{
							width:100px;
							float:left;
							height:100px;
							color:#666;
							position:relative;
							line-height:100px;
							font-size:200%;
							text-align:center;
							border:1px dashed #ccc;
							margin-bottom:20px;
							input[type="file"]{
								width:100px;
								height:100px;
							}
							&:hover{
								border:1px solid #ff7f00;
								color:#ff7f00
							}
					}
					.addSubmit{
						clear:both;
						button{
							width:120px;
							margin-left:10px;
						}
					}
				}
		}
}
