.basicInfo{
		padding:15px 0;
		&>div{
			background:#f0f8ff;
			&>div{
				position:relative;
				width:110px;
				height:110px;
				margin:0 auto;
				border-radius:55px;
				overflow:hidden;
				img{
					border-radius:55px;
					margin:0 auto;
					border:5px solid #ccc;
				}
				a{
					width:110px;
					height:110px;
					line-height:110px;
					margin:0px auto;
					display:block;
					text-align:center;
					filter:alpha(opacity=0);
					opacity:0;
					font-size:150%;
					color:white;
					position:absolute;
					top:0;
					left:0;
					input{
						position:absolute;
						top:0;
						left:0;
						width:100px;
						height:100px;
						border-radius:50px;
						filter:alpha(opacity=0);
						opacity:0;
					}
					&:hover{
						filter:alpha(opacity=0.3);
						opacity:50;
						background:rgba(0,0,0,0.6);
					}
				}
			}

		}
		ul{
			width:100%;
			margin:10px 0;
			padding:0;
			li{
				text-align:center;
				position:relative;
				border-bottom:1px solid #ccc;
				margin:20px 0;
				h3{
				margin:0 0 20px 0;
				}
				p{
				color:#666;
					input{
						width:150px;
					}
					button{
						margin:0 5px;
					}
				}
				.btn-normal{
    				color: #ff7f00;
    				border-radius:5px;
    				padding:0 3px;
    				top:0;
    				position:absolute;
    				left:calc(100% - 50px);
				}
			}
		}
}
