.organization{
	min-height:900px;
	min-width:1200px;
	background:#fff;
	margin-bottom:10px;
	.organizationTop{
		height:100px;
		background:#f0f8ff;
		color:#1c86ee;
		div:first-of-type{
			height:100px;
			line-height:100px;
			width:200px;
			float:left;
			font-size:200%;
			font-weight:bold;
			text-align:center;
			letter-spacing: 5px;
		}
		ul{
			margin:0;
			height:100px;
			line-height:100px;
			width:700px;
			padding:0;
			float:left;
			li{
				float:left;
				width:100px;
				a{
					padding:5px 10px;
					color:#1c86ee
				}
			}
		}
		div:last-of-type{
			width:300px;
			float:left;
			text-align:center;
			height:100px;
			line-height:100px;
			input{
				width:200px;
				height:35px;
				padding:0;
				box-shadow:0px 0px 9px 1px #e5e5e5;
				background:#fff;
				border:1px solid #efefef;
			}
			button{
				height:36px;
				line-height:35px;
				padding:0 10px;
				box-shadow:2px 0px 9px 1px #e5e5e5;
			}
		}
	}
	.organizationContent{
		color:#333;
		div{
			padding-left:10px;
		}
		.right{
			float:right;
			width:400px;
		}
		.left{
			float:left;
			width:800px;
		}
	}
}