.follows{
	min-height:900px;
	background:#fff;
	min-width:1200px;
	margin-bottom:10px;
	box-shadow:2px 2px 4px 1px #e5e5e5;
	a{
	 	color:#37a;
	 	padding:3px;
	 	&:hover{
	 		color:#37a;
	 	}
	 }
	.followsTop{
		height:40px;
		line-height:40px;
		background:#f0f8ff;
		button{
			margin-left:5px;
			margin-top:5px;
			height:30px;
			line-height:30px;
		}
	}
	.switchBtn{
			height:40px;
			margin-top:10px;
		div{
			height:42px;
			line-height:38px;
			width:85px;
			margin:0 auto;
			border:1px solid rgba(255, 127, 0,0.6);
			border-radius:40px;
			padding:2px;
			position:relative;
			text-align:center;
			strong{
				cursor:pointer;
				margin:0 3px;
				color:#999;
			}
			strong:first-of-type{
				color:rgb(255, 127, 0)
			}
			button{
				position:absolute;
				width:35px;
				height:35px;
				background:rgba(255, 127, 0,0.2);
				border:none;
				border-radius:10px;
				cursor:auto;
				left:6px;
				
			}
		}
	}
}