.memberBrief{
	min-height:900px;
	background:#fff;
	min-width:1200px;
	color:white;
	margin-bottom:10px;
	.memberBriefTop{
		height:40px;
		line-height:40px;
		background:#f0f8ff;
		button{
			margin-left:5px;
			margin-top:5px;
			height:30px;
			line-height:30px;
		}
		.share{
					height:40px;
					float:right;
					color:#666;

				a{
					width:30px;
					height:30px;
					display:block;
					float:right;
					margin-right:5px;
					margin-top:5px;
					&:hover{
						cursor:pointer
					}
					&:first-of-type{
						background-image:url("./assert/sharess.png");
						background-size:100px;
						background-position:50% 0%;
				}
					&:nth-of-type(2){
						background-image:url("./assert/sharess.png");
						background-size:103px;
						background-position:0% 50%;
				}
					&:nth-of-type(3){
						background-image:url("./assert/sharess.png");
						background-size:102px;
						background-position:100% 0%;
				}
					&:nth-of-type(4){
						background-image:url("./assert/sharess.png");
						background-size:100px;
						background-position:100% 50%;;
						position:relative;
						div{
							cursor:auto;
							display:none;
							position:absolute;
							top:35px;
							left:-80px;
							height:200px;
							width:200px;
							background:white;
							z-index:5;
							border:1px solid #efefef;
							color:#1c86ee;
							img{
								width:150px;
								height:150px;
								margin:25px 0 0 25px;
							}
							span:first-of-type{
								position:absolute;
								left:170px;
								top:-5px;
								font-size:150%;
								width:25px;
								height:25px;
								text-align:center;
								cursor:pointer;
								&:hover{
								font-size:200%;
								}
							}
							p{
								margin:0;
								height:30px;
								position:relative;
								top:-30px;
								text-align:center;
							}
						}
				}
			}
		}
	}
	.memberBriefContent{
		.message{
			text-align:center;
			background:none;
			button{
				width:60px;
			}
		}
		padding:15px;
		color:#333;
			&>div{
				background:#f0f8ff;
				margin-bottom:50px;
				&>div{
					position:relative;
					width:110px;
					height:110px;
					margin:0 auto;
					border-radius:55px;
					overflow:hidden;
					img{
						border-radius:55px;
						margin:0 auto;
						border:5px solid #ccc;
					}
				}
			}
			ul{
				width:100%;
				padding:0;
				li{
					text-align:center;
					position:relative;
					margin:40px 0;

					h3{
						margin:0;
						text-align:center;
						height:20px;
						color:#444;
						hr{
							border:1px solid #efefef;
						}
						span{
							position:relative;
							top:-30px;
							width:120px;
							padding:5px;
							height:40px;
							line-height:30px;
							display:block;
							background:#fff;
							margin:0 auto;
							background:#efefef;
							border-radius:20px;
						}
					}
					p{
						color:#666;
						input{
							width:150px;
						}
						button{
							margin:0 5px;
						}
					}
					ul{
						li{
							text-align:left;
							padding:0 30px;
							line-height:30px;
							margin:15px 0;
							color:#222;
							p:first-of-type{
								color:#888;
								margin:0;
							}
							.imgShow{
								height:100px;
								margin-top:10px;
							div{
								width:100px;
								overflow:hidden;
								height:100px;
								margin-right:10px;
								float:left;
								border:2px solid #efefef;
								border-radius:5px;
								background-position:center;
								background-repeat:no-repeat;
								background-size:cover;
								cursor:pointer
								}
							}
						}
						li:first-of-type{
							background:#efefef;
							height:35px;
							line-height:35px;
							border-left:2px solid #ff7f00;
							text-indent:10px;
							position:relative;
							padding:0px;
							b{
								font-size:110%;
								color:#444;
							}
						}
					}
				}
			}

	}
}