.memberCentercontent{
	min-height:900px;
	margin-bottom:10px;
	min-width:1200px;
	.noRead{
		padding:0 5px;
		background:#ff7f00;
		color:white;
		border-radius:10px;
		margin-left:5px;
	}
	.memberCenterContentLeft{
		width:14%;
		height:300px;
		background:#fff;
		text-align:center;
		float:left;
		h3{
			color:#1C86EE;
			width:80%;
			margin:0 auto;
			height:30px;
			line-height:30px;
			border-bottom:1px dotted #1C86EE;
		}
		ul{
			padding:0;
			li{
				a{
					color:rgb(88, 99, 118);
					height:30px;
					line-height:30px;
					display:block;
					&:hover{
						color:#1C86EE; 
						cursor:pointer;
						background:#f0f8ff
					}
				}
				.active{
					color:#1C86EE; 
					background:#f0f8ff;
					border-left:2px solid #1c86ee;
				}
			}
		}
	}
	.memberCenterContentRight{
		padding:10px;
		background:#fff;
		width:85%;
		float:right;
		margin-bottom:10px;
		.text-center{
			text-align:center
		}
	}
}