.memberCentercontent{
	position:relative;
	.memberCenterContentLeft{
		display:inline-block;
		width:14%;
		height:300px;
		background:#fff;
		text-align:center;
		position:absolute;
		top:0;
		h3{
			color:#1C86EE;
			width:80%;
			margin:0 auto;
			height:30px;
			line-height:30px;
			border-bottom:1px dotted #1C86EE;
		}
		ul{
			padding:0;
			li{
				a{
					color:rgb(88, 99, 118);
					height:30px;
					line-height:30px;
					display:block;
					&:hover{
						color:#1C86EE; 
						cursor:pointer;
						background:rgb(213, 226, 239)
					}
				}
				.active{
					color:#1C86EE; 
					background:rgb(213, 226, 239)
				}
			}
		}
	}
	.memberCenterContentRight{
		padding:10px;
		display:inline-block;
		background:#fff;
		margin-left:15%;
		width:85%;
		min-height:1000px;
		table{
			width:100%;
			tr{
				td{
					height:60px;
					&:first-of-type{
						width:20%
					}
				}
			}
		}
	}
}