.menu {
    height: 45px;
    line-height: 45px;
    background: #f0f8ff;
    border-bottom: 1px solid #ccc;
    nav {
        margin: 0 auto;
        max-width:1200px;
        div:first-of-type{
            width:50px;
            height:45px;
            float:left;
            background-image:url(./assert/logo.png);
            background-repeat:no-repeat;
            background-size: 50px;
            background-position: center;
        }
        h1 {
            margin: 0;
            color: #1C86EE;
            display: inline-block;
            a{
                background-image:url(./assert/logo.png);
                background-repeat:no-repeat;
                background-size: 50px;
                background-position: center left;
                padding-left:60px;
                display:block;
            }
        }
        h4 {
            margin: 0 10px;
            display: inline-block;
            color: #1C86EE;
        }
        a {
            color: #000
        }
        a:hover {
            color: #1C86EE
        }
        .brand {
            color: #1C86EE
        }
        .headerLeft {
            float: right;
            a {
                margin: 0;
                padding: 10px;
                color: #1C86EE !important;
            }
            a:hover {
                cursor: pointer;
                background: #efefef;
            }
        }
    }
}

.activeRoute {
    font-weight: bold;
    text-decoration: none;
}
