.category{
	min-height:900px;
	.categoryTop{
		width:100%;
		border-bottom:2px solid #F0F8FF;
		background:	#fff;
		nav{
			height:40px;
			line-height:40px;
			padding-left:15px;
			width:100%;
			background:#F0F8FF;
			color:#3A5FCD;
			a{
			color:#3A5FCD;
			}
		}
		div{
			table{
				width:calc(100% - 30px);
				margin:15px;
				tbody{
					tr{
						td:first-of-type{
							color:#666;
							width:40px;
						}
						td{
							border-bottom:1px dotted #999;
							ul{
								padding:0;
								margin:0;
								li{
									float:left;
									a{
										height:35px;
										line-height:35px;
										width:90px;
										display:block;
										color:#000;
										text-align:center;
										&:hover{
										color:#3a5fcd;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.itemContent{
		margin-top:5px;
		width:100%;
		height:150px;
		background:#fff;
		border:2px solid #F0F8FF;
		div:first-of-type{
			height:110px;
			width:110px;
			padding:5px;
			float:left;
			background:#efefef;
			margin:15px;
			border-radius:50px;
			img{
				border-radius:50px;
			}
		}
		&>span{
			float:right;
			color:#ff7f00;
			background:#F0F8FF;
			padding:3px 15px;
			a{
			height:31px;
			line-height:25px;
			padding:3px;
			border-radius:2px;
			border:1px solid #ff7f00;
			display:block;
			float:right;
			margin-left:5px;
			}
		}
		div:nth-of-type(2){
			li{
				height:30px;
				line-height:30px;
				.title{
					color:#999;
					margin-right:10px;
				}
			}
			.fa-female{
				color:red;
				font-size:130%
			}
			.fa-male{
				color:#3a5fcd;
				font-size:130%
			}
		}
	}
}