.organizationHome{
	min-height:900px;
	min-width:1200px;
	background:#fff;
	margin-bottom:10px;
	.organizationHomeTop{
		height:40px;
		background:#f0f8ff;
		&>button{
			margin:5px;
			height:30px;
			line-height:30px;
		}
	}
	.BasicInfo{
		padding:20px 10px;
		float:left;
		.head{
			height:110px;
			line-height:110px;
			width:900px;
			img{
				border-radius:75px;
				border:5px solid #efefef;
				margin:0 10px;
				float:left;
			}
			span{
				float:left;
				font-size:200%;
				color:#333;
			}
			button{
				float:right;
				margin-top:35px;
			}
		}
		.content{
			clear:both;
			background:#fff4e8;
			padding:10px;
			margin-top:10px;
			line-height:30px;
			font-size:12px;
			width:900px;
			div:first-of-type{
				span{
					color:#ff7f00;
				}
				a{
					color:#ff7f00;
					cursor:pointer;
					padding:2px;
				}
			}
		}
		.btn-orange{
				border:none;
		}
		.article{
			margin-top:10px;
			height:40px;
			.btn-orange{
				float:right;
			}
			span{
				height:40px;
				verticle-align:bottom;
			}
		}
		.articleList{
			width:100%;
			color:#444;
			tr{
				height:30px;
				td{
					border-bottom:2px dotted #e5e5e5;
					text-align:center;
				}
				td:first-of-type{
					text-align:left;
				}
				td:last-of-type{
					text-align:right;
				}
			}
			thead tr{
				color:#ff7f00;
			}
		}
	}
	.members{
		width:260px;
		float:right;
		margin:10px;
		span{
			font-size:16px;
		}
		hr{
			border:1px solid #e5e5e5;
		}
		&>div{
			margin-top:10px;
			height:500px;
			a{
				height:40px;
				line-height:40px;
				display:block;
				color:#333;
				border-top:1px solid #efefef;
				img{
					margin:5px;
					float:left;
					border-radius:15px;
					border:2px solid #e5e5e5;
				}
				cursor:pointer;
				&:hover{
					background:#efefef;
				}
			}
		}
	}
	
}