.photos{
	padding:20px 0;
	background:#fff;
	maring-bottom:10px;
	&>div:first-of-type{
		margin-bottom:10px;
		.btn-success{
			position:relative;
			input{
				width:100%;
				height:40px;
			}
		}
	}
	.addDIV{
		background:#fff4e8;
		margin-bottom:10px;
		.add{
			.imgList{
				width:100px;
				overflow:hidden;
				height:100px;
				margin:5px;
				float:left;
				border:2px solid #efefef;
				border-radius:5px;
				background-position:center;
				background-repeat:no-repeat;
				background-size:cover;
				div{
					width:100px;
					height:100px;
					text-align:center;
					line-height:100px;
					cursor:pointer;
					background:rgba(0,0,0,0.3);
					filter:alpha(opacity=0);
					font-size:200%;
					color:white;
					opacity:0;
					margin:0
				}
			}
		}
		.submit{
			clear:both;
			text-align:center;
			padding:20px;
		}
	}
	a{
	 	color:#37a;
	 	padding:3px;
	 	&:hover{
	 		background:#efefef
	 	}
	 }
	 h3{
	 text-align:center;
	 }
	.imgShows{
			float:left;
			padding:4px 4px 4px 4px; 
			text-align:center;
			background:#efefef;
			margin:5px;
			width:188px;
			img{
				width:180px;
				box-shadow:none;
			}
			.lightColor{
				margin:5px;
				color:#666;
				font-size:10px;
			}
			box-shadow:3px 3px 6px 1px #ccc;
			&>div{
				cursor:pointer;
				background-position:center;
				background-repeat:no-repeat;
				background-size:cover;
				height:140px;
			}
	}
}